<% if user_signed_in? %>

  <div class="hero-unit">
    <div class="row-fluid">
        <div class="columnA pull-right">
        	<br>
             <h1>SHOW ME THE BURGER</h1>
            <p> <br>
            <font size="6">WELCOME BACK TO THE TASTY WORLD OF BURGERS</font>
		</p>
		<br>
		<p>	<%= link_to "Upload a Burger", new_pin_path, class: "btn btn-success btn-large" %>
			 <a href="#HotH"> <button class="btn btn-warning btn-large"> Check 'em Burgers</button></a>
		</p>
        </div>

        <div class="columnB pull-left">
            <img src="https://dl.dropboxusercontent.com/u/38177869/pig_monster_single%20copy.jpg">
        </div>
    </div>
  </div>

<img class="displayed" src="https://dl.dropboxusercontent.com/u/38177869/arrow2.jpg">

<a name="HotH"> <hr class="featurette-divider"></hr></a>


<div class="jumbotron">
	<h1> <%= link_to "Hot Burgers", hot_path %> </h1>
</div>

<br><br><br><br><br><br><br>

<hr class="featurette-divider"></hr>


<div class="jumbotron">
	<h1> <%= link_to "New Burgers", new_path %> </h1>
</div>


<br><br><br><br><br><br><br>

<hr class="featurette-divider"></hr>

<div class="jumbotron">
	<h1> <%= link_to "Near Burgers", near_path %> </h1>
</div>

<br><br><br><br><br><br><br>


<% else %>


  <div class="hero-unit">
    <div class="row-fluid">
        <div class="columnA pull-right">
        	<br>
             <h1>SHOW ME THE BURGER</h1>
            <p> <br>
            <font size="6">SHARE, RATE & EAT THE BEST BURGERS IN WORLD</font>
		</p>
		<br>
		<p>	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-success btn-large" %>
			 <a href="#HotH"> <button class="btn btn-warning btn-large"> Check 'em Burgers</button></a>
			 <br>  Already have an account? 
           <%= link_to "Log in now ", new_user_registration_path, style: "color:red" %>
		</p>
        </div>

        <div class="columnB pull-left">
            <img src="https://dl.dropboxusercontent.com/u/38177869/pig_monster_single%20copy.jpg">
        </div>
    </div>
  </div>

<img class="displayed" src="https://dl.dropboxusercontent.com/u/38177869/arrow2.jpg">

<a name="HotH"> <hr class="featurette-divider"></hr></a>


<div class="jumbotron">
	<h1> <%= link_to "Hot Burgers", hot_path %> </h1>
</div>

<br><br><br><br><br><br><br>

<hr class="featurette-divider"></hr>


<div class="jumbotron">
	<h1> <%= link_to "New Burgers", new_path %> </h1>
</div>


<br><br><br><br><br><br><br>

<hr class="featurette-divider"></hr>

<div class="jumbotron">
	<h1> <%= link_to "Near Burgers", near_path %> </h1>
</div>

<br><br><br><br><br><br><br>

<% end %>